{{#link-to 'article' article.id}}
  <div class="articleTile">
    {{article.section}}<br>
    <img src={{article.image}} alt={{article.type}} {{action 'imageHide'}}><br>
    <h3>{{article.title}}</h3>
    {{article.author}}<br>
  </div>
{{/link-to}}
