<li>{{#link-to 'article' article.id}}{{article.title}}s {{article.section}} in {{article.body}} {{/link-to}}
  {{#if isImageShowing }}
       <p><img src={{article.image}} alt={{article.type}} {{action 'imageHide'}}></p>
     {{else}}
       <button {{action 'imageShow'}}>Show image</button>
    {{/if}}
</li>
