Located in {{article.title}}, this {{article.author}} bedroom {{article.section}} is
available by arrangement through {{article.body}}.
<br>
<p><img src={{article.image}} alt={{article.type}}></p>

<button {{action 'delete' article}}>Delete</button>
