{{#if updateArticleForm}}
  <h4>Update {{article.title}}'s {{article.author}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title" placeholder=article.title}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=article.author}}
        </div>

        <div class="form-group">
          <label for="section">Section</label>
          {{input value=section id="section" placeholder=article.section}}
        </div>

        <div class="form-group">
          <label for="body">Body</label>
          {{input value=body id="body" placeholder=article.body}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image" placeholder=article.image}}
        </div>

        <button {{action 'update' article}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateArticleForm'}}>Update</button>
{{/if}}
